.alerts__wrap {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .alerts__wrap .alert {
    margin-bottom: 20px;
    width: 30vw;
    max-width: 300px;
    opacity: 0.6;
    border-radius: 5px; }
    .alerts__wrap .alert:hover {
      transform: scale(0.98); }
    .alerts__wrap .alert.error {
      background-color: #ff0000; }
    .alerts__wrap .alert.success {
      background-color: #00ff00; }
    .alerts__wrap .alert .alert-content {
      padding: 20px;
      display: flex;
      align-items: center; }
      .alerts__wrap .alert .alert-content .icon-alert svg {
        width: 40px;
        height: 40px;
        fill: rgba(255, 255, 255, 0.9); }
      .alerts__wrap .alert .alert-content .title-alert {
        font-weight: bold; }
      .alerts__wrap .alert .alert-content .text-alert {
        margin-left: 30px; }

@media screen and (max-width: 769px) {
  .alerts__wrap .alert .alert-content {
    padding: 15px; }
    .alerts__wrap .alert .alert-content .icon-alert svg {
      width: 30px;
      height: 30px; }
    .alerts__wrap .alert .alert-content .text-alert {
      margin-left: 15px; } }

@media screen and (max-width: 361px) {
  .alerts__wrap {
    margin-right: 10px; }
    .alerts__wrap .alert {
      margin-bottom: 10px;
      width: 60vw; } }
