body {
  margin: 0px;
  color: #fff;
  font-family: 'Khula', sans-serif;
  font-size: 14px;
  font-weight: normal; }

main {
  padding: 0;
  min-height: 100vh;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center; }
  main .content {
    margin: 15vh 5%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center; }
  main .table {
    width: 100%;
    height: 100%;
    max-height: 600px;
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-rows: 35% 15% 11.6% 15% 11.6% 11.6%;
    perspective: 500px; }
    main .table .php,
    main .table .java,
    main .table .dotnet,
    main .table .events,
    main .table .blog,
    main .table .contacts {
      overflow: hidden; }
    main .table .php .tile-front,
    main .table .java .tile-front,
    main .table .dotnet .tile-front,
    main .table .events .tile-front,
    main .table .blog .tile-front,
    main .table .contacts .tile-front {
      transition: transform 0.5s ease-out; }
    main .table .binary-academy:hover, main .table .js:hover, main .table .qa:hover {
      transform: rotateY(180deg); }
    main .table .binary-academy .tile-back,
    main .table .js .tile-back,
    main .table .qa .tile-back {
      transform: rotateY(180deg); }
    main .table .binary-academy {
      background-color: #fff;
      grid-column: 1;
      grid-row: 1 / 3;
      z-index: 1; }
      main .table .binary-academy .tile-back {
        display: flex;
        justify-content: center;
        align-items: center; }
      main .table .binary-academy svg {
        width: 150px;
        height: 150px; }
      main .table .binary-academy .join-button {
        width: 80px;
        height: 30px;
        background-color: #00adee;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 1rem;
        outline: none;
        cursor: pointer; }
        main .table .binary-academy .join-button:hover {
          background-color: #0198d0; }
        main .table .binary-academy .join-button:active {
          transform: scale(0.95); }
    main .table .js {
      background-color: #f7cf69;
      color: #000;
      grid-column: 2;
      grid-row: 1 / 5; }
      main .table .js .tile-front {
        padding: 10px 5px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; }
      main .table .js svg {
        width: 150px;
        height: 150px;
        fill: #000; }
    main .table .php {
      color: #000;
      font-size: 5rem;
      font-style: italic;
      grid-column: 3 / 5;
      grid-row: 1; }
      main .table .php .tile-front {
        background-color: #8893bf; }
      main .table .php:hover .tile-front {
        transform: translate(100%, -100%); }
    main .table .qa {
      background-color: #52bf77;
      font-size: 4rem;
      grid-row: 3 / 8; }
    main .table .java {
      font-size: 2.5rem;
      grid-row: 5 / 8; }
      main .table .java .tile-front {
        background-color: #e12b4c; }
      main .table .java:hover .tile-front {
        transform: translate(0, 100%); }
    main .table .dotnet {
      font-size: 4rem;
      grid-row: 2 / 8; }
      main .table .dotnet .tile-front {
        background-color: #642077; }
      main .table .dotnet:hover .tile-front {
        transform: translate(100%, 100%); }
    main .table .events {
      background-color: #2e99fe;
      font-size: 1.2rem;
      grid-row: 2 / 4; }
      main .table .events .tile-front {
        background-color: #2e99fe; }
    main .table .blog {
      font-size: 1.2rem;
      grid-row: 4 / 6; }
      main .table .blog .tile-front {
        background-color: #0343a3; }
    main .table .events:hover .tile-front,
    main .table .blog:hover .tile-front,
    main .table .contacts:hover .tile-front {
      transform: translate(100%, 0); }
    main .table .contacts {
      margin-left: 0px;
      font-size: 1.2rem;
      grid-row: 6 / 8; }
      main .table .contacts .tile-front {
        background-color: #00255e; }
      main .table .contacts .tile-back {
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        backface-visibility: visible; }
      main .table .contacts svg {
        width: 30px;
        height: 30px;
        cursor: pointer; }
      main .table .contacts svg:hover, main .table .contacts path:hover {
        fill: #00adee; }

.tile {
  position: relative;
  transform-style: preserve-3d;
  transition: 1s ease; }
  .tile-front, .tile-back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    box-sizing: border-box; }
  .tile-front {
    align-items: center; }
  .tile-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10% 20px;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    font-weight: bold;
    word-break: normal;
    overflow-y: scroll;
    z-index: -10; }
    .tile-back::-webkit-scrollbar {
      width: 5px; }
    .tile-back::-webkit-scrollbar-thumb {
      background-color: #dedfe3;
      border-radius: 30px; }

footer div {
  padding: 20px 0;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center; }

@media screen and (max-width: 769px) {
  main .table .binary-academy {
    grid-row: 1 / 3; }
  main .table .js {
    grid-column: 2;
    grid-row: 1 / 3; }
  main .table .php {
    grid-column: 3 / 5;
    grid-row: 1; }
  main .table .qa {
    grid-column: 1 / 3;
    grid-row: 5 / 7; }
  main .table .java {
    grid-column: 1 / 3;
    grid-row: 3 / 5; }
  main .table .dotnet {
    grid-column: 3 / 5;
    grid-row: 2 / 4; }
  main .table .events {
    background-color: #2e99fe;
    font-size: 1.2rem;
    grid-column: 3 / 5;
    grid-row: 4; }
  main .table .blog {
    font-size: 1.2rem;
    grid-column: 3 / 5;
    grid-row: 5; }
  main .table .contacts {
    margin-left: 0px;
    font-size: 1.2rem;
    grid-column: 3 / 5;
    grid-row: 6; } }

@media screen and (max-width: 361px) {
  main .table {
    grid-template-rows: 30% 15% 11.6% 11.6% 10% 10%; }
    main .table .binary-academy {
      grid-column: 1 / 3;
      grid-row: 1 / 3; }
    main .table .js {
      grid-column: 3 / 5;
      grid-row: 1 / 3; }
    main .table .php {
      grid-column: 1 / 3;
      grid-row: 3 / 5; }
    main .table .qa {
      grid-column: 1 / 3;
      grid-row: 7 / 9; }
    main .table .java {
      grid-column: 1 / 3;
      grid-row: 5 / 7; }
    main .table .dotnet {
      grid-column: 3 / 5;
      grid-row: 3 / 5; }
    main .table .events {
      background-color: #2e99fe;
      font-size: 1.2rem;
      grid-column: 3 / 5;
      grid-row: 5 / 7; }
    main .table .blog {
      font-size: 1.2rem;
      grid-column: 3 / 5;
      grid-row: 7 / 8; }
    main .table .contacts {
      margin-left: 0px;
      font-size: 1.2rem;
      grid-column: 3 / 5;
      grid-row: 8; } }
