.alerts__wrap {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.alert {
		margin-bottom: 20px;
		width: 30vw;
		max-width: 300px;
		opacity: 0.6;
		border-radius: 5px;

		&:hover {
			transform: scale(0.98);
		}

		&.error {
			background-color: #ff0000;
		}

		&.success {
			background-color: #00ff00;
		}

		.alert-content {
			padding: 20px;
			display: flex;
			align-items: center;
		
			.icon-alert svg {
				width: 40px;
				height: 40px;
				fill: rgba(255, 255, 255, 0.9);
			}
		
			.title-alert {
				font-weight: bold;
			}
			
			.text-alert {
				margin-left: 30px;
			}
		}
	}
}

@media screen and (max-width: 769px) {
	.alerts__wrap {
		.alert {
			.alert-content {
				padding: 15px;

				.icon-alert svg {
					width: 30px;
					height: 30px;
				}

				.text-alert {
					margin-left: 15px;
				}
			}
		}
	}
}

@media screen and (max-width: 361px) {
	.alerts__wrap {
		margin-right: 10px;

		.alert {
			margin-bottom: 10px;
			width: 60vw;
		}
	}
}