.header__wrap {
	@keyframes header {
		0% { top: -100%;}
		100% { top: 0; }
	}

	position: fixed;
	height: 10%;
	max-height: 70px;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	z-index: 1;
	animation: header 1s ease-out;

	#header {
		margin: 0 5%;
		width: 100%;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.logo {
	width: 15%;

	svg {
		display: inline-block;
		vertical-align: middle;
	}
}

.menu {
	display: flex;
	align-items: center;

	.bell-wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;

		svg {
			width: 35px;
			height: 35px;
			fill: #b6c1d5;
		}

		&:hover svg {
			fill: #4d5057;
		}
	}

	.avatar-wrapper {
		margin-left: 20px;
		
		.avatar {
			position: relative;
			width: 40px;
			height: 40px;
			background-color: #fa7d04;
			border-radius: 100%;
			color: #fff;
			font-size: 1.6rem;
			display: flex;
			align-items: center;
			justify-content: center;

			& > span {
				margin-top: 3px;
			}

			.menu-toggler {
				position: absolute;
				top: 50;
				margin: 0px;
				width: 40px;
				height: 40px;
				opacity: 0;
				cursor: pointer;
	
				&:checked + .profile-menu {
					display: block;
				}
			}
		}
	}
}

.profile-menu {
	position: absolute;
	top: 100%;
	right: -5%;
	padding: 20px;
	background-color: #fff;
	font-size: 1rem;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
	display: none;

	.profile-menu-top {
		padding: 5px 20px;
		color: #b6c1d5;
		border-bottom: 2px solid #b6c1d5;
		white-space: nowrap;
	}
	.profile-menu-bottom {
		font-weight: bold;
		color: #000;
		text-align: left;

		.option {
			margin-top: 7px;
			padding: 4px 5px;

			&:hover {
				background-color: #f8f9fc;
			}
		}
	}
}

@media screen and (max-width: 769px) {
	.logo {
		width: 25%;
	}
}

@media screen and (max-width: 361px) {
	.header__wrap {
		height: 5%;
	}

	.logo {
		width: 35%;
	}
}