body {
	margin: 0px;
	color: #fff;
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

main {
	padding: 0;
	min-height: 100vh;
	background-color: #f8f9fc;
	display: flex;	
	justify-content: center;

	.content {
		margin: 15vh 5%;
		width: 100%;
		max-width: 1200px;
		display: flex;
		align-items: center;
	}

	.table {	
		width: 100%;
		height: 100%;
		max-height: 600px;
		display: grid;
		grid-template-columns: 25% 25% 30% 20%;
		grid-template-rows: 35% 15% 11.6% 15% 11.6% 11.6%;
		perspective: 500px;

		.php,
		.java,
		.dotnet,
		.events,
		.blog,
		.contacts {
			overflow: hidden;
		}

		.php .tile-front,
		.java .tile-front,
		.dotnet .tile-front,
		.events .tile-front,
		.blog .tile-front,
		.contacts .tile-front {
			transition: transform 0.5s ease-out;
		}

		.binary-academy:hover, .js:hover, .qa:hover {
			transform: rotateY(180deg);
		}
		
		.binary-academy .tile-back,
		.js .tile-back,
		.qa .tile-back {
			transform: rotateY(180deg);
		}
		
		.binary-academy {
			background-color: #fff;
			grid-column: 1;
			grid-row: 1 / 3;
			z-index: 1;

			.tile-back {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			svg {
				width: 150px;
				height: 150px;
			}

			.join-button {
				width: 80px;
				height: 30px;
				background-color: #00adee;
				color: #fff;
				border: none;
				border-radius: 3px;
				font-size: 1rem;
				outline: none;
				cursor: pointer;

				&:hover {
					background-color: #0198d0;
				}
				&:active {
					transform: scale(0.95);
				}
			}
		}

		.js {
			background-color: #f7cf69;
			color: #000;
			grid-column: 2;
			grid-row: 1 / 5;

			.tile-front {
				padding: 10px 5px;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
			}
			svg {
				width: 150px;
				height: 150px;
				fill: #000;
			}
		}

		.php {
			color: #000;
			font-size: 5rem;
			font-style: italic;
			grid-column: 3 / 5;
			grid-row: 1;

			.tile-front {
				background-color: #8893bf;
			} 

			&:hover .tile-front {
				transform: translate(100%, -100%);
			}
		}
		
		.qa {
			background-color: #52bf77;
			font-size: 4rem;
			grid-row: 3 / 8;
		}

		.java {
			font-size: 2.5rem;
			grid-row: 5 / 8;

			.tile-front {
				background-color: #e12b4c;
			}

			&:hover .tile-front {
				transform: translate(0, 100%);
			}
		}
		
		.dotnet {
			font-size: 4rem;
			grid-row: 2 / 8;

			.tile-front {
				background-color: #642077;
			}
			&:hover .tile-front {
				transform: translate(100%, 100%);
			}
		}
		
		.events {
			background-color: #2e99fe;
			font-size: 1.2rem;
			grid-row: 2 / 4;

			.tile-front {
				background-color: #2e99fe;
			}
		}

		.blog {
			font-size: 1.2rem;
			grid-row: 4 / 6;

			.tile-front {
				background-color: #0343a3;
			}
		}

		.events:hover .tile-front,
		.blog:hover .tile-front,
		.contacts:hover .tile-front {
			transform: translate(100%, 0);
		}

		.contacts {
			margin-left: 0px;
			font-size: 1.2rem;
			grid-row: 6 / 8;

			.tile-front {
				background-color: #00255e;
			}
			.tile-back {
				padding: 0px;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				backface-visibility: visible;
			}
			svg {
				width: 30px;
				height: 30px;
				cursor: pointer;
			}
			svg:hover, path:hover {
				fill: #00adee;
			}
		}
	}
}

.tile {
	position: relative;
	transform-style: preserve-3d;
	transition: 1s ease;

	&-front, &-back {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		backface-visibility: hidden;
		box-sizing: border-box;
	}

	&-front {
		align-items: center;
	}
	
	&-back {
		position: absolute;
		top: 0;
		left: 0;
		padding: 10% 20px;
		color: #000;
		background-color: #fff;
		font-size: 1rem;
		font-weight: bold;
		word-break: normal;
		overflow-y: scroll;
		z-index: -10;

		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #dedfe3;
			border-radius: 30px;
		}
	}
}

footer {
	div {
		padding: 20px 0;
		color: #000;
		font-size: 16px;
		font-weight: bold;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 769px) {
	main {
		.table {
			.binary-academy {
				grid-row: 1 / 3;
			}

			.js {
				grid-column: 2;
				grid-row: 1 / 3;
			}

			.php {
				grid-column: 3 / 5;
				grid-row: 1;
			}

			.qa {
				grid-column: 1 / 3;
				grid-row: 5 / 7;
			}

			.java {
				grid-column: 1 / 3;
				grid-row: 3 / 5;
			}

			.dotnet {
				grid-column: 3 / 5;
				grid-row: 2 / 4;
			}

			.events {
				background-color: #2e99fe;
				font-size: 1.2rem;
				grid-column: 3 / 5;
				grid-row: 4;
			}

			.blog {
				font-size: 1.2rem;
				grid-column: 3 / 5;
				grid-row: 5;
			}
			
			.contacts {
				margin-left: 0px;
				font-size: 1.2rem;
				grid-column: 3 / 5;
				grid-row: 6;
			}
		}
	}
}

@media screen and (max-width: 361px) {
	main {
		.table {
			grid-template-rows: 30% 15% 11.6% 11.6% 10% 10%;

			.binary-academy {
				grid-column: 1 / 3;
				grid-row: 1 / 3;
			}

			.js {
				grid-column: 3 / 5;
				grid-row: 1 / 3;
			}

			.php {
				grid-column: 1 / 3;
				grid-row: 3 / 5;
			}

			.qa {
				grid-column: 1 / 3;
				grid-row: 7 / 9;
			}

			.java {
				grid-column: 1 / 3;
				grid-row: 5 / 7;
			}

			.dotnet {
				grid-column: 3 / 5;
				grid-row: 3 / 5;
			}

			.events {
				background-color: #2e99fe;
				font-size: 1.2rem;
				grid-column: 3 / 5;
				grid-row: 5 / 7;
			}

			.blog {
				font-size: 1.2rem;
				grid-column: 3 / 5;
				grid-row: 7 / 8;
			}
			
			.contacts {
				margin-left: 0px;
				font-size: 1.2rem;
				grid-column: 3 / 5;
				grid-row: 8;
			}
		}
	}
}